# Maven
/target/

# NetBeans
/nbproject/private/
nbproject/private/

# Eclipse/IntelliJ
.classpath
.project
.settings/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# VSCode
.vscode/

# Maven local binary
/apache-maven-*/
/maven.zip
debug_log.txt
pdf_text*.txt
ParseTest.java
